.footer {
  background-color: var(--main-color);
  color: black;
  margin-bottom: 0px;
  padding: 10px;
}

.footer .p {
  font-size: 20px;
  margin-bottom: 10px;
  align-self: center;
}

.logo-footer {
  height: 50px;
  width: 50px;
  padding: 5px;
  border-radius: 15px;
}
