.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-errorButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
