.container-form {
  width: 100%;
  max-width: 500px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px 20px 10px;
  gap: 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--main-color);
  background-color: whitesmoke;
}

.container-form .form-label {
  font-size: 20px;
  margin-bottom: 10px;
}

.container-form .form-input {
  height: 30px;
  justify-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 23px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 3px solid gainsboro;
}

/* .container-form .form-input + small {
  color: grey;
} */

.button {
  display: block;
  background-color: #578d57;
  border-radius: 5px;
  font-size: 23px;
  color: white;
  border: 0;
  padding: 8px 12px;
  margin-bottom: 10px;
}

.container-form .links {
  display: flex;
  justify-content: center;
  font-size: 23px;
  color: rgba(0, 0, 255, 0.897);
  text-decoration: none;
  margin-bottom: 10px;
}

.loginPage-error {
  background-color: rgb(224, 36, 94, 0.1);
  border: 1px solid rgba(224, 36, 94, 0.2);
  border-radius: 5px;
  color: rgb(224, 36, 94);
  margin-top: 20px;
  padding: 10px 15px;
}
